[submodule "submodules/userControl"]
	path = submodules/userControl
	url = git@server:~/userControl.git
[submodule "submodules/passwords"]
	path = submodules/passwords
	url = git@server:~/passwords.git
[submodule "submodules/bootstrap-jquery"]
	path = submodules/bootstrap-jquery
	url = git@server:~/bootstrap-jquery.git
[submodule "submodules/mediascore"]
	path = submodules/mediascore
	url = git@server:~/mediascore.git
[submodule "submodules/locate-tracker-webfrontend"]
	path = submodules/locate-tracker-webfrontend
	url = git@server:~/locate-tracker-webfrontend.git
