<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^BackupPC_Admin(.*)$ /backup/BackupPC_Admin?%{QUERY_STRING} [L]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>
